.main-navigation ul{
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-navigation li {
	margin: 0 1rem;
	position: relative;
}
.main-navigation li a {
	text-decoration: none;
  font-family: var(--headline-font);
	font-size: 1rem;
	font-weight: 500;
	color: var(--off-black);
	transition: var(--base-transition);
}
.main-navigation li a:visited,
.main-navigation li a:hover {
	color: unset;
}
.main-navigation .menu-item-has-children .sub-menu {
	display: none;
}
.main-navigation .menu-item-has-children .sub-menu.open {
  display: flex;
}