/* Post Nav */
.post-navigation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}
.nav-links {
display: flex;
justify-content: space-between;
}
.nav-paged {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}
/* .nav-paged li + li {
  margin-left: .25rem;
} */
/* .nav-paged li a {
  padding: 0 .5rem;
} */
.nav-paged li a.current {
  font-size: 1.1em;
  font-weight: 500;
}
.nav-previous, .nav-next {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
}

@media (min-width: 769px) {
  .post-navigation {
    flex-direction: row;
  }
}