figure.quotation {
  margin: 1rem 1rem 1.5rem;
  padding: .25rem 1rem;
  border-left: 2px solid var(--main-color);
}
figure.quotation > * {
  margin: 0;
}
figure.quotation figcaption {
  margin-top: .5rem;
}