/* Sidebar */
.sidebar .widget {
	padding: 0;
}
.sidebar h3 {
	font-weight: 500;
	border-bottom: 1px solid rgba(0 0 0 / .5);
}
.widget {
	margin: 0 0 1.5em;
}
.widget-ig .grid-thirds {
	grid-template-columns: repeat(3, 1fr);
}
.recent-articles ul,
.snippets ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.recent-articles li + li,
.snippets li + li {
  margin-top: .5rem;
}
.recent-articles a {
  font-size: .97rem;
}
.widget-ig img {
	aspect-ratio: 1/1;
	object-fit: cover;
}
.snippets {
	line-height: 1.1rem;
}
.snippets time {
	font-family: var(--headline-font);
	font-size: .75rem;
}
.snippets p {
	margin: 0;
	font-size: 1rem;
}