@import './variables.css';
@import "./reset.css";

@import './core/layout.css';
@import './core/media.css';
@import './core/typography.css';
@import './components/post.css';
@import './core/categories.css';
@import './core/accessibility.css';

@import "./components/header.css";
@import "./components/burger.css";
@import "./components/menu.css";
@import "./components/nav.css";

@import "./components/featured-post.css";
@import './components/sidebar.css';
@import './components/pagination.css';
@import './components/quotation.css';
@import './components/gallery.css';
@import './components/hero.css';
@import './components/social-share.css';