---
import { Debug } from 'astro/components'
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import FeaturedPost from '../components/FeaturedPost.astro'
import PostEntry from '../components/PostEntry.astro'
import Sidebar from '../components/Sidebar.astro'

import { client } from '../lib/sanityClient.js'
import { allPosts, pagedPosts } from '../lib/queries.js'

export async function getStaticPaths({ paginate }) {
  const allPostData = await client.fetch(allPosts)

  return paginate(allPostData, { pageSize: 10 })
}
//const allPostData = await client.fetch(allPosts)

const { page } = Astro.props
---
<Layout title="COA Astro">
	<!-- <Debug {page} /> -->
	<div class="grid-wrapper grid-main">
		<main>
			<div class="content grid-wrapper grid-halves">
				{page.data.map((article) => <PostEntry article={article} />)}
			</div>
		</main>
		<Sidebar />
	</div>
</Layout>