---
import Layout from '../layouts/Layout.astro'
import Sidebar from '../components/Sidebar.astro'
import { formatUnixDate } from '../lib/helpers'

const api = 'https://api.foursquare.com/v2/users/self/checkins?oauth_token=PU4SDE4HSUYWDHMTRTK4HQOOUICHQHH0XT4HRPWRR41KCSKC&v=20221221'

async function getCheckins() {
  return fetch(api).then(res => res.json())
}

const data  = await getCheckins()
const checkins = data.response.checkins.items.slice(0,1).map((checkin) => {
  const date = checkin.createdAt
  console.log(formatUnixDate(date))
})
---
<Layout title={`checkins`}>
  <div class="content-area wrapper grid-wrapper grid-main">
    <main id="main" class="site-main" role="main">
      <article>
        <header class="entry-header">
          <h1 class="entry-title">Checkins</h1>
        </header>

        <div class="entry-content">
          
        </div>

      </article>
    </main>
    <Sidebar />
  </div>
</Layout>