---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import AstroPlaces from '../components/AstroPlaces.astro'

import '@fontsource/merriweather/300.css'
import '@fontsource/merriweather/400.css'
import '@fontsource/merriweather/400-italic.css'
import '@fontsource/merriweather/700.css'
import '@fontsource/merriweather/700-italic.css'
import '@fontsource/fira-sans/300.css'
import '@fontsource/fira-sans/400.css'
import '@fontsource/fira-sans/500.css'
import '@fontsource/fira-sans/700.css'
import '@fontsource/fira-sans/900.css'
import '../styles/main.css'

export interface Props {
	title: string;
}

---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
<title>{`Places Test`}</title>
</head>
<body class="page">
  <Header />
  
  <div class="content-area wrapper grid-wrapper">
    <main id="main" class="site-main" role="main" style="">
      <article>
        <header class="entry-header">
          <h2 class="entry-title">Places Test</h2>
        </header>

        <AstroPlaces />
      </article>
    </main>
  </div>

  <Footer />

</body>
</html>