---
const props = Astro.props
const snippetCount = props.node.count
---
<div class="snippets" data-info={snippetCount}>
  <ul></ul>
</div>
<script>
import { formatSnippetDate } from "../lib/helpers"
const snippetCount = document.querySelector('.snippets:not(.widget)').dataset.info
const count = snippetCount === 'five' ? '&limit=5' : snippetCount === 'ten' ? '&limit=10' : ''
const apiUrl = `https://sheetdb.io/api/v1/ku9cp2y8evvnb?sort_by=datetime&sort_order=desc${count}`
let snippets = []
document.addEventListener('DOMContentLoaded', async () => {
  async function getSnippets() {
    try {
      const res = await fetch(apiUrl);
      const data = await res.json();
      return data;
    } catch (error) {
      console.error("Failed to fetch snippets:", error);
      return []; // Return an empty array in case of failure
    }
  }

  const snippetsListElement = document.querySelector('.snippets:not(.widget) ul');
  snippets = await getSnippets();

  snippets.forEach(snippet => {
    const listItem = document.createElement('li');
    listItem.innerHTML = `
      <p>${snippet.content}</p>
      <time class="entry-date">${formatSnippetDate(snippet.datetime)}</time>
    `;
    snippetsListElement.appendChild(listItem);
  });
});
</script>