---
const props = Astro.props
---
<div class="responsive-map">
  <figure>
    <iframe 
      height="480"
      src={props.node.url}
      style={{ width: '100%' }}
      frameborder="no"
      allowfullscreen
      title="Visited Countries"
    />
  </figure>
</div>