---
import { useSanityClient } from '@sanity/astro'
import { citiesQuery, placesQuery, countryList } from '../lib/queries'

const citiesVisited = await useSanityClient().fetch(citiesQuery)
const placesVisited = await useSanityClient().fetch(placesQuery)
const countriesVisited = await useSanityClient().fetch(countryList)

const countries = JSON.stringify(countriesVisited)
const locations = JSON.stringify(citiesVisited)
const places = JSON.stringify(placesVisited)
---
<div class="map-wrapper">
  <nav id="map-toggles" class="map-toggles"></nav>
  <div class="map" id="map" data-locations={locations} data-places={places} data-countries={countries}></div>
</div>
<script>
import * as maps from '../lib/maps'

// grab data passed from Astro frontmatter via data attributes
const el = document.getElementById('map')
const mapType = el.dataset.type
const countries = JSON.parse(el.dataset.countries)
const locations = JSON.parse(el.dataset.locations)
const places = JSON.parse(el.dataset.places)

// run all functions for map
async function orchestrate() {
  const map = await maps.initializeMap(el)
  await maps.mapInteractivity(map)
  await maps.addMapboxCountries(countries, map)
  await maps.convertCities(locations, map)
  await maps.convertPlaces(places, map, mapType)
}

orchestrate()
</script>