---
// import '@fontsource/fira-sans/400.css'
import '@fontsource/fira-sans/900.css'
// import '../styles/components/header.css'
---

<header class="site-header">
  <div class="wrapper">
    <div class="site-branding"><h1 class="site-title"><a href="/">Choosing Our Adventure</a></h1></div>

  </div>
</header>