---
import Menu from './Menu.astro'
import '@fontsource/fira-sans/900.css'
---

<header class="site-header">
  <div class="wrapper">
    <div class="site-branding"><h1 class="site-title"><a href="/">Choosing Our Adventure</a></h1></div>
    <Menu />
  </div>
</header>