---
import { useSanityClient } from '@sanity/astro'
import Picture from 'astro-sanity-picture'
import { siteSettings } from '../lib/queries.js'
import { getSanityImageUrl } from '../lib/helpers.js'

const allSiteSettings = await useSanityClient().fetch(siteSettings)

---

<div class="hero">
  {allSiteSettings[0].hpHero && <Picture loading="eager" src={allSiteSettings[0].hpHero} imageUrlBuilder={getSanityImageUrl()} widths={[400, 769, 1200]} sizes='(min-width: 400px) 726px, 347px' alt={allSiteSettings[0].hpHero.alt}/>}
</div>