---
import { client } from '../lib/sanityClient.js'
import { siteSettings } from '../lib/queries.js'
import { getSanityImageUrl } from '../lib/helpers.js'
import { Picture } from '@astrojs/image/components'

const allSiteSettings = await client.fetch(siteSettings)

---

<div class="hero">
  {allSiteSettings[0].hpHero && <Picture loading="eager" src={getSanityImageUrl(allSiteSettings[0].hpHero).url()} widths={[400, 769, 1200]} sizes={[]} aspectRatio={16/9} alt={allSiteSettings[0].hpHero.alt}/>}
</div>