---
import EleventyFetch from '@11ty/eleventy-fetch'

const IG_TOKEN = import.meta.env.PUBLIC_IG_TOKEN

async function getIgPosts() {
  const igImgs = `https://graph.instagram.com/me/media?fields=caption,media_url,permalink&access_token=${IG_TOKEN}`
  return EleventyFetch(igImgs, {
    duration: '1d',
    type: 'json',
  })
}

const { data } = await getIgPosts()
const d = data.slice(0,9)
---
<section class="widget widget-ig">
  <h3 class="widget-title">Visually Speaking</h3>
  <div class="grid-wrapper grid-thirds">
    {d.map(item =>
      item.media_url && (
        <div class='grid-item'>
          <a href={item.permalink} target="_blank" rel="noopener noreferrer">
            <img src={item.media_url} width={200} height={200} alt={item.caption} />
          </a>
        </div>
      )
    )}
    
  </div>
</section>