---
import { useSanityClient } from '@sanity/astro'
import {siteNav} from '../lib/queries'

const nav = await useSanityClient().fetch(siteNav)
---
<nav class="main-navigation" role="navigation" aria-label="Primary Menu">
  <ul class="menu">
    {nav.siteNav.menuItems && nav.siteNav.menuItems.map((item) => (
      <li class="menu-item menu-item-has-children">
        <a href={`/${item.page.slug.current}`}>{item.name}</a>
      </li>
    ))}
  </ul>
</nav>