---
export interface Props {
  previous: any;
  next: any;
}
const {previous, next} = Astro.props
---
<nav class="navigation post-navigation" role="navigation">
  {previous && (
    <div class="nav-previous">

      <a href={`/${previous.slug.current}`} rel="prev">{previous.title}</a>
    </div>
  )}
  {next && (
    <div class="nav-next">
      <a href={`/${next.slug.current}`} rel="next">{next.title}</a>

    </div>
  )}
  </nav>