---
import { sanityClient } from "sanity:client"
import { recentPosts } from '../lib/queries.js'

const posts = await sanityClient.fetch(recentPosts)
---

<section class="widget recent-articles">
  <h3 class="widget-title">Recent Articles</h3>
  <ul>
    {posts && posts.map(post => (
    <li>
      <a href={`/${post.slug.current}`}>{post.title}</a>
    </li>
    ))}
  </ul>
</section>