---

---
<section class="widget snippets">
  <h3 class="widget-title">Musings</h3>
  <ul></ul>
  <div><a class="see-all" href={`/musings`}>See all</a></div>
</section>
<script>
import { formatSnippetDate } from "../lib/helpers"
const apiUrl = 'https://sheetdb.io/api/v1/ku9cp2y8evvnb?sort_by=datetime&sort_order=desc&limit=5'
let snippets = []
document.addEventListener('DOMContentLoaded', async () => {
  async function getSnippets() {
    try {
      const res = await fetch(apiUrl);
      const data = await res.json();
      return data;
    } catch (error) {
      console.error("Failed to fetch snippets:", error);
      return []; // Return an empty array in case of failure
    }
  }

  const snippetsListElement = document.querySelector('.snippets.widget ul');
  snippets = await getSnippets();
  snippets.forEach(snippet => {
    const listItem = document.createElement('li');
    listItem.innerHTML = `
      <p>${snippet.content}</p>
      <time class="entry-date">${formatSnippetDate(snippet.datetime)}</time>
    `;
    snippetsListElement.appendChild(listItem);
  });
});
</script>