---
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import '@fontsource/merriweather/400.css'
import '@fontsource/fira-sans/700.css'
import '../styles/main.css'

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{title}</title>
</head>
<body class="home">
  <Header />
  <Hero />

  <main class="content-area wrapper">
    <slot />
  </main>

</body>
</html>